
        h1 {
            text-align: center;
            margin-top: 170px;
            font-family:'Roboto';
            font-style: normal; 
            font-weight:400;
            font-size:90px; 
            line-height:105px; 
            text-align:center;  
            letter-spacing: -10px;
        }


        
        input{
            width: 390px;
            height: 44px;
            border-radius: 30px;
            border: 1px solid rgb(225, 225, 225);
            outline: none;
            padding: 0 140px 0 48px;
            font-size: 16px;
        }
        input:hover{
            box-shadow: 1px 1px 5px gray;
        }
        .under-input{
            width: 111px;
            height: 36px;
            left: 471px;
            top: 430px;

            background: #F8F9FA;
            border: 1px solid #F8F9FA; 
            border-radius:4px; 
            cursor:pointer; 
        }
        
        .under-input:hover{
            box-shadow: 0.5px 0.5px 5px gray;
        }

        .button-box{
            display : flex; 
            justify-content: center;
            margin-top:26px;
            align-items: center;
        }
        li{
            display:inline;
            float:right;
            margin-right:5px;
        }

        /* .google-app {
            font-size: 17px;
            color: rgb(95,99,104); 
            padding: 10px 11px; 
            border-radius: 50%;
        } */
        

    .navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px 20px;
        background-color: white;
    }

    .navbar-right a {
        margin-right: 20px;
        text-decoration: none;
        color: #5f6368;
        font-size: 14px;
    }
    .navbar-right a:hover{
        text-decoration: underline;

    }
    .login-button {
        background-color: #4285f4;
        color: white;
        border: none;
        width : 85px;
        padding: 10px 20px;
        border-radius: 30px;
        font-size: 14px;
        cursor: pointer;
    }

    .login-button:hover {
        background-color: #357ae8;
    }
    


    .search-bar {
        width: 390px;
        height: 44px;
        border-radius: 30px;
        border: 1px solid rgb(225, 225, 226);
        outline: none;
        padding: 0 140px 0 48px;
        font-size: 16px;
    }

    .search-bar:hover {
        box-shadow: 0 0 5px 1px rgb(225, 225, 226);
    }

    .search-bar:focus {
        box-shadow: 0 0 5px 1px rgb(225, 225, 226);
    }

    .search-icon {
        position: absolute; 
        /* 부모를 기준으로 정렬이 가능 */
        margin: 13px 17px;
        color: rgb(154,160,166);
        font-size: 14px;
    }

    .keyboard-icon {
        position: absolute;
        margin: 13px 505px;
        font-size: 16px;
        color: rgb(123,123,123);
    }

    .microphone-icon {
        position: absolute;
        margin: 10px 545px;
        font-size: 18px;
        color: rgb(66,133,244);
    }
